html,
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #1D1F21;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto';
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #606780;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 400px;
}

hr {
  border: 0;
  border-top: 1px solid #606780;
  opacity: .4;
  width: 400px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 400px;
}

li {
  color: #606780;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

a {
  color: #a5a2a2;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #383c4a;
}

input {
    background-color: transparent;
    border: 10px #606780;
    height:30px;
    width:395px;
}

/*input[type="text"], textarea {

  background-color: #181818; 
  width: 395px;
  outline: none;
}*/

input[type="text"] {
  color: solid #FFFFFF;
}

